body{
    background-image: url(background2.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-left: 510px;
    font-size: 60px;
    font-family: 'Lucida Console', monospace;
    font-weight: bolder;
    color: white;
}

#box{
    margin-left: 550px;
    margin-top: 105px;
    font-size: 57px;
    font-weight: bolder;
    font-family: 'Lucida Console', monospace;
    color: white;
}

#controls{
    margin-left: 520px;
    margin-top: 55px;
}

.button{
    height: 60px;
    width: 130px;
    font-size: xx-large;
    border-radius: 15px;
    cursor: pointer;
    color: wheat;
}
